body {
    font-family: 'Inconsolata', monospace !important; 
}

.userForm {
    max-width: 40vw;
    margin: 0 auto;
}

.errMsg {
    color: red;
}


.addShadow {
    transition: box-shadow .5s;
    position: relative;
}

.addShadow:hover {
    box-shadow: 1px 1px 14px 0px #888888;
    
}

.addShadow:hover .card-bottom {
    background: #d9e9e678;
}

.addShadow:hover .shoping-cart::before {
    font-size: 0.6em;
    opacity: 1;
}

.card-bottom {
    padding: 10px;
    font-weight: 500;
    transition: background .5s;
}

.card-bottom span {
    font-size: 14px;
}

.shoping-cart::before {
    float: right;
    color: #ffc107;
    cursor: pointer;
    font-size: 0;
    opacity: 0;
    transition: font-size 0.5s, opacity .5s;
    position: absolute;
    right: 5%;
    bottom: 17%;
}

.product-title {
    font-family: 'Stylish', sans-serif;
    color: #ffc107;
    margin: 0 auto;
}

.navBrand {
    font-family: 'Work Sans', sans-serif;
    color: chocolate !important;
}

.brand-link {
    text-decoration: none !important;
}

.modal-img {
    width: 10vw;
}

.product-title-in-modal {
    color: chocolate;
}

.cart-in-navbar {
    cursor: pointer;
    color: #ffc107;
}

.cart-title {
    text-align: center;
}

.cart-title h1 {
    color: cornflowerblue;
}
.cart-spiner {
    width: 5rem !important;
    height: 5rem !important;
}

.cartHeader {
    text-align: center;
    font-weight: bolder;
}
.cartHeader h3 {
    font-size: 1.2em;
    font-weight: bold;
}
.cart-table-cell {
    align-items: center;
    display: grid;
    text-align: center;
}
.cart-table-cell i {
    cursor: pointer;
}

.small-img {
    width: 50%;
    height: auto;
}

.delete-product-name {
    color: chocolate;
}

.delete-icon {
    color: #ffc107;
    transition: color 0.3s;
}

.delete-icon:hover {
    color: #e93d12;
}

.tableBody {
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 10px;
}

.tableBody::-webkit-scrollbar { width: 0 !important }

.marginToNavBar {
    margin-top: 75px;
}

.sub-total-box {
    width: 18vw;
    padding: 15px;
    text-align: right;
}

.paypal-icon {
    vertical-align: middle;
}

.foot {
    border-top: 1px #dee2e6 solid;
    padding: 10px;
}

.foot .bottom {
    float: right;
}

.bottom h5 {
    text-align: right;
}

.cancel-alert {
    text-align: center;
    width: 100%;
}